

/* Iconos */
.icon-dark {
    font-size: 1.5em;
    color: #0f0f0f;
    margin-bottom: 5px;
}

.icon-light {
    font-size: 1.5em;
    color: #F0F0F0;
    margin-bottom: 5px;
}

.icon-primary {
    font-size: 1.5em;
    color: #e3342f;
    margin-bottom: 5px;
}

.fancy-file-label{
    height: 40px;
    width: 250px;
    font-weight: 600;
    background-color: var(--white);
    border-radius: .25rem;
    border: 1px solid;
    border-color: var(--secondary);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s ease, color 1s ease;
}

.fancy-file-label:hover{
    color: var(--primary);
    background-color: #cfcfcf;
}

.fancy-file-input{
    display: none;
}

#char-limit{
    display: inline-block;
    width: 100%;
    transform: translate(-10px, -90px);
    text-align: right;
    color: var(--primary);
    font-weight: 600;
}

.modal-content {
    border-radius: 1rem;
}