/* Iconos */

.icon-dark {
    font-size: 1.5em;
    color: #0f0f0f;
    margin-bottom: 5px;
}

.icon-light {
    font-size: 1.5em;
    color: #F0F0F0;
    margin-bottom: 5px;
}

.icon-primary {
    font-size: 1.5em;
    color: #e3342f;
    margin-bottom: 5px;
}

