.sidenav {
    padding-top: 60px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #0F0F0F;
    overflow-x: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.5s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0px;
}

.sidenav a {
    color: var(--light);
    display: block;
    padding: 8px 8px 8px 32px;
    transition: all 0.3s ease 0s;
}

.sidenav a:hover {
    color: var(--primary);
    text-decoration: none;
}

.sidenav footer a {
    padding: 0;
}

.sidenav .copy {
    margin-top: .75rem;
    color: var(--light);
    font-weight: 600;
}

.sidenav footer h5 {
    margin-top: .75rem;
    color: var(--light);
    font-size: 1rem;
    font-weight: 600;
}

.sidenav .menu {
    height: 45vh;
}

.sidenav footer .social {
    height: 45vh;
}

/* .sidenav footer {
    position: absolute;
    transform: translate(-20px, 5vh);
} */

#sidebar-button-close {
    position: absolute;
    top: 1.7%;
    left: 13%;
}
